table {
  border-collapse: collapse;
  border: hidden;
}

td, th {
  border: 1px solid #ddd;
}

th {
  border-right: 1px solid #ddd;
  border-bottom: 2px solid #000;
}

th[scope=row] {
  border-right: 2px solid #000;
  border-bottom: 1px solid #ddd;
}

th.corner {
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
}

td, th {
  padding: 4pt 8pt;
}

td {
  text-align: center;
  vertical-align: top;
}

th {
  vertical-align: middle;
}

td ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

td li {
  margin: 2pt 0;
  text-align: left;
}

td.conflict {
  background: #fcc;
  border-color: #dbb;
}

tr.conflict td {
  background: #fcc;
  border-color: #dbb;
}

table.ll1 .t {
  border-left: 2px solid #000;
}

table.ll1 td {
  min-width: 2em;
  max-width: 8em;
}

table.ll1 li {
  margin-left: 1em;
  text-indent: -1em;
}

table.lr .t,
table.lr .nt {
  border-left: 2px solid #000;
}

table.lr td {
  min-width: 2em;
  max-width: 8em;
}

table.lr li {
  margin-left: 1em;
  text-indent: -1em;
}
