<section>
  
  <h1>This is a tool for analyzing and transforming context-free grammars.</h1>

  <p>&larr; Type a context-free grammar over here and click Analyze or Transform to start. For example:</p>

  <pre>
S -> id | V assign E .
V -> id .
E -> V | num .</pre>

</section>
