<section>
  <p><span style="background: yellow;">New:</span> Help make Grammophone better by <a href="https://patreon.com/mdaines">supporting me on Patreon</a>.</p>
  
  <hr>
  
  <p><b>Grammophone</b> is a tool for analyzing and transforming context-free grammars. To start, type a grammar in the box to the left and click Analyze or Transform.</p>
  
  <p>Grammars are written like this:</p>
  
  <pre>S -> a S b .
S -> .</pre>

  <p>This grammar generates the language a<sup>n</sup>&nbsp;b<sup>n</sup>, where n&nbsp;≥&nbsp;0.</p>
        
</section>
