<section>
  
  <p>This is <b>Grammophone</b>, a tool for analyzing and transforming context-free grammars. To start, type a grammar in the box to the left and click Analyze or Transform.</p>
  
  <p>Grammars are written like this:</p>
  
  <pre>S -> a S b .
S -> .</pre>

  <p>This grammar generates the language a<sup>n</sup>&nbsp;b<sup>n</sup>, where n&nbsp;≧&nbsp;0.</p>
        
</section>
