<textarea class="spec"></textarea>
<div class="buttons">
  <button class="analyze">Analyze</button>
</div>
<div class="errors"></div>
<div class="examples">
  <select size="1">
  </select>
  <button class="load-example">Load example</button>
</div>