<% if (path.length > 0) { %>
  <nav id="path">
    <%= path.map(function(p) {
      if (p.path) {
        return "<a href=\"" + Helpers.buildHref(p.path, p.fragment) + "\">" + p.title + "</a>";
      } else {
        return p.title;
      }
    }).map(function(p, i, a) {
      if (i === a.length - 1)
        return "<b>" + p + "</b>";
      else
        return p;
    }).join(" / ") %>
  </nav>
<% } %>
