<table class="symbols">
  <tr>
    <th>State</th>
    <th>Items</th>
    <th>Transitions</th>
  </tr>
  
  <% automaton.forEach(function(state, index) { %>
    <tr>
      <td><%- index %></td>
      <td>
        <ul>
          <% state.items.forEach(function(item) { %>
            <li><%- Helpers.formatItem(item, start, productions, info) %></li>
          <% }) %>
        </ul>
      </td>
      <td>
        <ul>
          <% info.terminalOrder.concat(info.nonterminalOrder).concat(Grammar.END).forEach(function(s) { %>
            <% if (typeof state.transitions[s] !== "undefined") { %>
              <li><%- Helpers.formatSymbol(s, info) %> &rArr; <%- state.transitions[s] %></li>
            <% } %>
          <% }) %>
        </ul>
      </td>
    </tr>
  <% }) %>
</table>
