<h1>Example Sentences</h1>

<ul class="symbols">
  <% sentences.forEach(function(sentence) { %>
    <li><%= sentence.length === 0 ? "<u>&epsilon;</u>" : Helpers.formatSymbols(sentence, info).join(" ") %></li>
  <% }); %>
</ul>
