.lr1-table .t,
.lr1-table .nt {
  border-left: 2px solid #000;
}

.lr1-table td {
  min-width: 50px;
}

.lr1-table th[scope=row] {
  border: 1px solid #eee;
  text-align: center;
  font-weight: normal;
  min-width: 50px;
}

.lr1-table td.conflict {
  background: #fdd;
  border-color: #ecc;
}

.lr1-table td.conflict u {
  background: #dcc;
}
