.symbols i {
  font-style: italic;
  font-weight: normal;
}

.symbols u {
  text-decoration: none;
  background: #eee;
}

.symbols b {
  font: bold 10pt courier;
}

.symbols .np {
  background: #eee;
  color: #999;
}