html, body {
  height: 100%;
}

body {
  background: #fff;
  margin: 0;
  line-height: 1.2;
}

#wrap {
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-areas: "header" "app";
  grid-template-rows: max-content minmax(0, 1fr);
}

#root {
  grid-area: app;
}

#app {
  --editor-width: 350px;
  height: 100%;

  display: grid;
  grid-template-areas: "editor resize main";
  grid-template-columns: minmax(350px, var(--editor-width)) 1px minmax(350px, 1fr);
}

#editor {
  grid-area: editor;
  display: flex;
  flex-direction: column;
}

#resize {
  grid-area: resize;
  background: #bbb;
  position: relative;
  z-index: 1;
}

#resize-handle {
  width: 7px;
  left: -3px;
  position: absolute;
  top: 0;
  bottom: 0;
  cursor: ew-resize;
}

main {
  grid-area: main;
  margin-left: 1px;
  padding: 20px;
  overflow: auto;
}

#edit, #transform {
  flex-grow: 1;
}
