body {
  background: #fff;
  margin: 0;
  line-height: 1.2;
}

#app {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: grid;
  grid-template-areas: "header header" "editor main";
  grid-template-rows: min-content 1fr;
  grid-template-columns: min-content 1fr;
}

#editor {
  grid-area: editor;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #bbb;
}

main {
  grid-area: main;
  margin-left: 1px;
  padding: 20px;
  overflow: auto;
}

#edit, #transform {
  flex-grow: 1;
}
