/*= require views/parsing */
/*= require views/ll1_table */
/*= require views/lr0_table */
/*= require views/lr1_table */
/*= require edit */
/*= require analysis */

body {
  background: #fff;
  margin: 0;
  line-height: 1.2;
}

section {
  margin: 0;
}

.examples {
  background: #eee;
  padding: 8pt;
}

h1 {
  font-size: 18pt;
  font-weight: normal;
  margin-bottom: 0;
  margin-top: 0;
}

.symbols i {
  font-style: italic;
  font-weight: normal;
}

.symbols u {
  text-decoration: none;
  background: #ddd;
}

.symbols b {
  font: bold 10pt courier;
}

table {
  border-collapse: collapse;
  border: hidden;
  background: #fff;
  margin: 1em 0;
}

td {
  padding: 4px 6px;
  min-width: 80px;
  max-width: 300px;
  border: 1px solid #eee;
}

th {
  padding: 4px 6px;
  border: 1px solid #eee;
  border-bottom: 2px solid #000;
}

th[scope=row] {
  border-bottom: 1px solid #eee;
  border-right: 2px solid #000;
}

td ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

td li {
  margin: 2pt 0;
  text-align: left;
}
