body {
  background: #fff;
  margin: 0;
  line-height: 1.2;
}

#master {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  border-right: 1px solid #bbb;
}

#edit {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#transform {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#analysis {
  position: absolute;
  top: 0;
  left: 300px;
  right: 0;
  bottom: 0;
  margin-left: 1px;
  padding: 20px;
  overflow: auto;
}

#mode {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px;
  border-bottom: 1px solid #bbb;
  background: #ddd;
  text-align: center;
}

#mode input[type=radio] {
  display: none;
  margin: 0;
}

#mode label {
  font: 12pt helvetica;
  display: inline-block;
  padding: 6px 8px 5px 8px;
  margin: 0;
  background: #fff;
  color: #000;
  border: 1px solid #bbb;
}

#mode label.left {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-right: none;
  padding-right: 9px;
}

#mode label.right {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-left: none;
  padding-left: 9px;
}

#mode label:active {
  background: #999;
  color: #fff;
  border-color: #888;
}

#mode input[type=radio]:checked + label {
  background: #444;
  border-color: #333;
  box-shadow: inset 0 3px 10px #222;
  color: #fff;
}

#mode button {
  font: 12pt helvetica;
  display: inline-block;
  padding: 6px 8px 5px 8px;
  background: #fff;
  border: 1px solid #bbb;
  border-radius: 4px;
  color: #000;
  margin-left: 14px;
}

#mode button:active {
  background: #999;
  color: #fff;
  border-color: #888;
}

#mode button:disabled {
  background: #fff;
  border-color: #ccc;
  color: #ccc;
}

#error {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  padding: 10px;
  background: #f00;
  margin-right: -1px;
  margin-top: -1px;
  border-bottom: 1px solid #e11;
  border-right: 1px solid #e11;
  border-top: 1px solid #e11;
  color: #fff;
  font-weight: bold;
}




h1 {
  font-size: 18pt;
  font-weight: normal;
  margin-bottom: 0;
  margin-top: 0;
}

.symbols i {
  font-style: italic;
  font-weight: normal;
}

.symbols u {
  text-decoration: none;
  background: #ddd;
}

.symbols b {
  font: bold 10pt courier;
}

table {
  border-collapse: collapse;
  border: hidden;
  background: #fff;
  margin: 1em 0;
}

td {
  padding: 4px 6px;
  min-width: 80px;
  max-width: 300px;
  border: 1px solid #eee;
}

th {
  padding: 4px 6px;
  border: 1px solid #eee;
  border-bottom: 2px solid #000;
}

th[scope=row] {
  border-bottom: 1px solid #eee;
  border-right: 2px solid #000;
}

td ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

td li {
  margin: 2pt 0;
  text-align: left;
}
