/*= require views/parsing */
/*= require views/ll1_table */
/*= require views/lr0_table */
/*= require views/lr1_table */
/*= require edit */
/*= require analysis */
/*= require transform */

body {
  background: #fff;
  margin: 0;
  line-height: 1.2;
}

#master {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  border-right: 1px solid #bbb;
}

#edit {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#transform {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#analysis {
  position: absolute;
  top: 0;
  left: 300px;
  right: 0;
  bottom: 0;
  margin-left: 1px;
  padding: 20px;
  overflow: auto;
}

#mode {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  border-top: 1px solid #bbb;
  background: #ddd;
  text-align: center;
}

#mode button {
  font-size: 10pt;
}

#error {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  padding: 10px;
  background: #f00;
  margin-right: -1px;
  margin-top: -1px;
  border-bottom: 1px solid #e11;
  border-right: 1px solid #e11;
  border-top: 1px solid #e11;
  color: #fff;
  font-weight: bold;
}




h1 {
  font-size: 18pt;
  font-weight: normal;
  margin-bottom: 0;
  margin-top: 0;
}

.symbols i {
  font-style: italic;
  font-weight: normal;
}

.symbols u {
  text-decoration: none;
  background: #ddd;
}

.symbols b {
  font: bold 10pt courier;
}

table {
  border-collapse: collapse;
  border: hidden;
  background: #fff;
  margin: 1em 0;
}

td {
  padding: 4px 6px;
  min-width: 80px;
  max-width: 300px;
  border: 1px solid #eee;
}

th {
  padding: 4px 6px;
  border: 1px solid #eee;
  border-bottom: 2px solid #000;
}

th[scope=row] {
  border-bottom: 1px solid #eee;
  border-right: 2px solid #000;
}

td ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

td li {
  margin: 2pt 0;
  text-align: left;
}
