#blank-slate .message p:first-child {
  margin-top: 0;
}

#blank-slate h2 {
  font-size: 18pt;
  font-weight: normal;
}

#blank-slate h3 {
  font-size: 12pt;
}

#blank-slate pre {
  background: #f8f8f8;
  font: 11pt courier, monospace;
  padding: 8px;
  border-radius: 4px;
}
