#edit .buttons {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px 10px 10px 10px;
  border-bottom: 1px solid #ccc;
  background: #ddd;
}

#edit .spec {
  white-space: pre-wrap;
  overflow: auto;
  font: 9pt monaco, courier, monospace;
  display: block;
  position: absolute;
  top: 42px;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px 10px 10px 10px;
  margin: 0;
  border: none;
  resize: none;
  background: #fff;
  color: #000;
}

#edit .spec:focus {
  outline: none;
}

#edit .errors {
  display: none;
}

#edit .error .errors {
  display: block;
}

#edit .errors {
  position: absolute;
  left: 0;
  top: 43px;
  right: 0;
  padding: 10px;
  background: #f00;
  border-bottom: 1px solid #c00;
  color: #fff;
  font-weight: bold;
}
