#project-header {
  grid-area: header;
  justify-content: space-between;
  display: flex;
  background: #333;
  padding: 10px;
}

#project-header h1 {
  margin: 0;
  padding: 6px 8px 5px 8px;
  font: 12pt helvetica;
  color: #fff;
}

#project-header ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: flex-end;
}

#project-header a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 6px 8px 5px 8px;
  border-radius: 4px;
  font: 12pt helvetica;
}

#project-header a:hover {
  background: #444;
}
